.cover {
  display: flex;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  padding: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.cover2 {
  width: 50%;
}
.lable {
  margin-bottom: 0.5rem;
  display: inline-block;
  color: rgb(0, 0, 0, 0.4);
}
.amount {
  width: 100%;
  color: red;
  background-color: transparent;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.currencytype {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}
.currencytype p {
  margin-bottom: 0.5rem;
  width: 100%;
  color: rgb(0, 0, 0, 0.4);
}
.select {
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: rgb(243, 244, 246);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
